.DS_Store
node_modules
/dist
coverage

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# É necessário incluir essa subpasta de node_modules para conseguir executar os testes
# Cada biblioteca está na sua versão minificada, por isso não será um grande problema.
# Caso consiga instalar o JointJS sem ser pela instação global, remova essa subpasta.
!tests/setup/node_modules
